{% extends 'base.html' %}

{% block title %}Поиск{% endblock %}

{% block content %}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
              <h1>Моя Шарага</h1>
              <p class="description">Найди себя</p>
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="ВУЗ" aria-label="Search" name='search'>
                <button class="btn btn-outline-success my-1 my-sm-1" type="submit">Найти</button>
              </form>
              <p class="copyright">&copy; Moya Sharaga by <a href="#">gaysexteam</a>.</p>
        </div>
    </div>
</div>

{% endblock %}
