{% extends 'base.html' %}

{% block title %}Студент id{{student.id}}{% endblock %}

{% block content %}

<div class="container h-100">
    <div class="row h-100 justify-content ">
        <div class="col-sm-6 col-md-8">
            <h4>{{student.student_surname}} {{student.student_name}} {{student.student_patronymic}}</h4>
            <p>
                <i class="glyphicon glyphicon-envelope"></i><b>Группа:</b>{{student.group}}
                <br />
                <i class="glyphicon glyphicon-gift"></i><b>Пол:</b>{{student.student_sex}}</p>
      </div>
</div>


{% endblock %}
