{% extends 'base.html' %}

{% block title %}Расписание{{timetable.id}}{% endblock %}

{% block content %}

<div class="container h-100">
  <div class="row h-100 justify-content">
    <div class="col-sm-6 col-md-8">
      <table class="table">
        <thead>  
          <tr>
            <th scope="col">{{timetable.group}}</th>
            <th scope="col">time</th>
            <th scope="col">time</th>
            <th scope="col">time</th>
            <th scope="col">time</th>
            <th scope="col">time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Понедельник</th>
            <td>Предмет1</td>
            <td>Предмет2</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Вторник</th>
            <td>Предмет1</td>
            <td>Предмет2</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Среда</th>
            <td>Предмет1</td>
            <td>Предмет2</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Четверг</th>
            <td>Предмет1</td>
            <td>Предмет1</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Пятница</th>
            <td>Предмет1</td>
            <td>Предмет2</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}