{% extends 'base.html' %}

{% block title %}Расписание{% endblock %}

{% block content %}
{% if timetableForMonday or timetableForTuesday or timetableForWendsday or timetableForThursday or timetableForFriday or timetableForSaturday %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Понедельник</th>
      <th scope="col">Вторник</th>
      <th scope="col">Среда</th>
      <th scope="col">Четверг</th>
      <th scope="col">Пятница</th>
      <th scope="col">Субота</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for c in timetableForMonday %}
          <th>{{c.subject}}<br>{{c.subject_datetime_start}} - {{c.subject_datetime_stop}}</th>
    {% endfor %}
    </tr>

  </tbody>

{% else %}
        Группа не найдена =(

{% endif %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">time</th>
      <th scope="col">time</th>
      <th scope="col">time</th>
      <th scope="col">time</th>
      <th scope="col">time</th>
      <th scope="col">time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Понедельник</th>
      <td>{{timetable.subject}}</td>
      <td>{{timetable.subject}}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Вторник</th>
      <td>Предмет1</td>
      <td>Предмет2</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Среда</th>
      <td>Предмет1</td>
      <td>Предмет2</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Четверг</th>
      <td>Предмет1</td>
      <td>Предмет1</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Пятница</th>
      <td>Предмет1</td>
      <td>Предмет2</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

{% endblock %}
